node_modules/
.project
unpackage/
.DS_Store
.hbuilderx/
dist/
./dist/

.env.local
.env.*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*-lock.json
*-lock.*

src/manifest.json
